
$colorHover: #33379f;

.services {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.servicesItem {
  width: 350px;
  height: 230px;
  position: relative;
}

.serviceImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

.servicesItemS {
  width: 350px;
  height: 400px;
}

.servicesItemS h2 {
  margin-top: 30px;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.servicesItemS h3 {
  margin-top: 12px;
  text-align: left;
  font-size: 14px;
  line-height: 1.7;
}


.linkNoneColor {
  color: black;
}
