$colorHover: #33379f;

.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding: 0 120px;
  flex-wrap: wrap;
}

.menu a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.1s linear;
  color: #000;
}

.menu a:first-child {
  color: $colorHover;
}

.menu a:hover {
  color: $colorHover;
}